/* This file contains all the styling for the about me page for the about me page in VSD project */

/* The mobile-first design approach was applied. */

@import url('http://fonts.cdnfonts.com/css/cocogoose');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
}

h1 {
  font-family: 'COCOGOOSE', sans-serif;
}

p {
  font-size: 17px;
}

p,
h2,
h3 {
  font-family: 'Lato', sans-serif;
}

.mobileHide {
  display: none;
}

.main-about {
  width: 100%;
  background: #fff;
}

.main-about-header {
  margin: 24px 30px 20px 30px;
}

.main-about-header h2 {
  color: #272a31;
  text-align: center;
  font-size: 30px;
}

.main-about-description {
  margin: 14px 30px 20px 30px;
}

.main-about-description p {
  color: #272a31;
  text-align: center;
}

.main-about-logo {
  margin: 14px 30px 20px 30px;
  border: 2px solid #d3d3d3;
  transition: transform 0.5s;
}

.main-about-logo:hover {
  transform: translateY(-7px);
}

.main-about-logo img {
  max-width: 100%;
}

.past-events h2 {
  margin: 55px 30px 20px 30px;
  color: #272a31;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.past-events p {
  margin: 0 20px 40px 20px;
  color: #272a31;
  text-align: center;
}

.events {
  margin: 20px 30px 30px 30px;
}

.event1,
.event2,
.event3 {
  transition: transform 0.5s;
}

.events > div {
  margin-bottom: 20px;
}

.event1 {
  text-align: center;
  color: #fff;
  background: linear-gradient(rgba(0, 102, 128, 0.7), rgba(0, 55, 128, 0.7)), url(../images/vsb-group-pic.jpeg);
  background-size: cover;
  background-position: center;
  height: 30vh;
  width: 100%;
  position: relative;
}

.event1 h2 {
  font-size: 33px;
  position: absolute;
  bottom: 55%;
  left: 40%;
}

.event1 p {
  position: absolute;
  bottom: 35%;
  left: 20%;
}

.event2 {
  text-align: center;
  color: #fff;
  background: linear-gradient(rgba(0, 102, 128, 0.7), rgba(0, 55, 128, 0.7)), url(../images/vsb-group-pic.jpeg);
  background-size: cover;
  background-position: center;
  height: 30vh;
  width: 100%;
  position: relative;
}

.event2 h2 {
  font-size: 33px;
  position: absolute;
  bottom: 75%;
  left: 40%;
}

.event2 p {
  position: absolute;
  top: 25%;
  left: 7%;
  margin-right: 12px;
}

.event3 {
  text-align: center;
  color: #fff;
  background: linear-gradient(rgba(0, 102, 128, 0.7), rgba(0, 55, 128, 0.7)), url(../images/vsb-group-pic.jpeg);
  background-size: cover;
  background-position: center;
  height: 30vh;
  width: 100%;
  position: relative;
}

.event3 h2 {
  font-size: 33px;
  position: absolute;
  bottom: 80%;
  left: 40%;
}

.event3 p {
  position: absolute;
  top: 25%;
  left: 7%;
  margin-right: 12px;
}

.event1:hover,
.event2:hover,
.event3:hover {
  transform: translateY(-7px);
}

@media screen and (min-width: 768px) {
  .desktopHide {
    display: none;
  }

  .mobileHide {
    display: block;
  }

  .main-about-header {
    margin: 40px 0;
    font-size: 35px;
  }

  .main-about-description {
    margin: 40px 200px;
  }

  .main-about-logo {
    margin: 40px 250px;
  }

  .main-about-logo img {
    width: 100%;
  }

  .past-events h2 {
    font-size: 35px;
  }

  .past-events p {
    font-size: 18px;
  }

  .events {
    margin: 40px 100px;
    display: flex;
    gap: 20px;
  }

  .event1 h2 {
    top: 18%;
    left: 30%;
  }

  .event1 p {
    position: absolute;
    bottom: 30%;
    left: 5%;
    font-size: 18px;
    padding: 0 12px;
  }

  .event2 h2 {
    top: 18%;
    left: 30%;
  }

  .event2 p {
    position: absolute;
    top: 45%;
    left: 10%;
    font-size: 16px;
  }

  .event3 h2 {
    top: 15%;
    left: 30%;
  }

  .event3 p {
    position: absolute;
    top: 40%;
    padding-top: 2%;
    left: 10%;
    font-size: 16px;
    line-height: 1.5vw;
  }

  .vsb-partners {
    display: flex;
    justify-content: center;
    margin: 6% 100px 0 100px;
    padding: 10% 0;
  }
}

@media screen and (min-width: 1080px) {
  .main-about-header {
    margin: 40px 0;
    font-size: 35px;
  }

  .main-about-description {
    margin: 40px 200px;
  }

  .main-about-logo {
    margin: 40px 39vw;
    width: 20vw;
  }

  .past-events h2 {
    padding: 30px 0;
    font-size: 40px;
  }

  .past-events p {
    font-size: 19px;
    margin: 0 80px;
  }

  .events {
    margin: 40px 100px;
    display: flex;
    gap: 20px;
  }

  .event1 p {
    position: absolute;
    bottom: 35%;
    font-size: 19px;
  }

  .event2 p {
    position: absolute;
    bottom: 35%;
    font-size: 19px;
  }

  .event3 p {
    position: absolute;
    bottom: 15%;
    font-size: 19px;
  }
}
